DATABASE_URL="postgresql://postgres.bhnvygefbyncdmlemuld:Vaishnavi@2004@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres"

DIRECT_URL="postgresql://postgres:Vaishnavi@2004@db.bhnvygefbyncdmlemuld.supabase.co:5432/postgres"

REDIS_URL="rediss://default:gQAAAAAAAZUaAAIgcDExNTdiNjZmNDFkNDc0ZGE1YjYyN2MyMGQyYzAxM2M2ZA@immortal-katydid-103706.upstash.io:6379"

CRON_SECRET="allo123secret"